In [1]:
%load_ext sql

In [2]:
%sql sqlite:///krusty-db.sqlite

In [3]:
%%sql
SELECT *
FROM pallets

 * sqlite:///krusty-db.sqlite
Done.

[]

In [4]:

%%sql
SELECT * 
FROM storages
ORDER BY ingredient

 * sqlite:///krusty-db.sqlite
Done.

[('Bread crumbs', 'g', 150000, '2021-03-19 10:30:00', 150000),
 ('Butter', 'g', 200000, '2021-03-19 10:30:00', 200000),
 ('Chocolate', 'g', 300000, '2021-03-19 10:30:00', 300000),
 ('Chopped almonds', 'g', 250000, '2021-03-19 10:30:00', 250000),
 ('Cinnamon', 'g', 40000, '2021-03-19 10:30:00', 40000),
 ('Egg whites', 'ml', 350000, '2021-03-19 10:30:00', 350000),
 ('Eggs', 'g', 300000, '2021-03-19 10:30:00', 300000),
 ('Fine-ground nuts', 'g', 200000, '2021-03-19 10:30:00', 200000),
 ('Flour', 'g', 500000, '2021-03-19 10:30:00', 500000),
 ('Ground roasted nuts', 'g', 200000, '2021-03-19 10:30:00', 200000),
 ('Icing sugar', 'g', 100000, '2021-03-19 10:30:00', 100000),
 ('Marzipan', 'g', 100000, '2021-03-19 10:30:00', 100000),
 ('Potato starch', 'g', 100000, '2021-03-19 10:30:00', 100000),
 ('Roasted chopped nuts', 'g', 200000, '2021-03-19 10:30:00', 200000),
 ('Sodium bicarbonate', 'g', 25000, '2021-03-19 10:30:00', 25000),
 ('Sugar', 'g', 500000, '2021-03-19 10:30:00', 500000),
 ('Vanilla', 'g', 100000, '2021-03-19 10:30:00', 100000),
 ('Vanilla sugar', 'g', 40000, '2021-03-19 10:30:00', 40000),
 ('Wheat flour', 'g', 600000, '2021-03-19 10:30:00', 600000)]

In [6]:
%%sql
SELECT * 
FROM blocked

 * sqlite:///krusty-db.sqlite
Done.

[]

In [8]:
%%sql
SELECT min(store_quantity-quantity), ingredient
FROM storages
JOIN ingredients USING (ingredient)
WHERE c_name = 'Almond delight'

 * sqlite:///krusty-db.sqlite
Done.

[(14990.0, 'Cinnamon')]

In [43]:
%%sql
SELECT pallet_nbr, date_produced, COALESCE(true_state, 0) as "blocked"
FROM pallets
LEFT JOIN blocked USING (pallet_nbr)

 * sqlite:///krusty-db.sqlite
Done.

[('078559315ec52c8e2e7a254492bf17b7', '2023-04-07 13:50:39', 0),
 ('026ca57ed396799f9ae98c52aa0cc192', '2023-04-07 13:50:39', 0),
 ('dcd98d2a73f9c878fa2bfeb9665fa1a0', '2023-04-07 13:50:39', 0),
 ('f012d1b27e7c01204da1b051361e8000', '2023-04-07 13:50:39', 0),
 ('a0a5ffa782990d19bac2aca7dd9d0426', '2023-04-07 13:50:39', 0),
 ('2a850773f752b66f06b45932e03dc76b', '2023-04-07 13:50:39', 0),
 ('6f6cb7b8200aeaecfb464931038826a1', '2023-04-07 13:50:39', 0),
 ('5cf494f449d61901594a504312aadce6', '2023-04-07 13:50:39', 0),
 ('824f08a267c3b57ae2f41590e29dcacd', '2023-04-07 13:50:39', 0),
 ('c28f927f603b6069a55885ca80be128d', '2023-04-07 13:50:39', 0),
 ('4a3fd424b6a5343561a296cd3ed5d644', '2023-04-07 13:50:39', 0),
 ('03f363840c8591f3b9b8d6a4d2119a50', '2023-04-07 13:50:39', 0),
 ('646ebf571adc180bd804b46bbe47b9ce', '2023-04-07 13:50:39', 0)]

In [7]:
%%sql
UPDATE storages
SET store_quantity = 0

 * sqlite:///krusty-db.sqlite
19 rows affected.

[]

In [9]:
%%sql
SELECT * FROM pallets LIMIT 1

 * sqlite:///krusty-db.sqlite
Done.

[('8342eb4dc351b0cfe3deb7473c50094e', '2023-04-12 09:21:14', None, 'Tango')]

In [10]:
%%sql
INSERT INTO pallets VALUES('8342eb4dc351b0cfe3deb7473c50497f', '2023-04-12 09:21:14', NULL, 'Tango', 0)

 * sqlite:///krusty-db.sqlite
1 rows affected.

[]

In [20]:
%%sql
UPDATE storages
SET store_quantity = '-1000000'

 * sqlite:///krusty-db.sqlite
(sqlite3.IntegrityError) negative value after insert
[SQL: UPDATE storages
SET store_quantity = '-1000000']
(Background on this error at: https://sqlalche.me/e/20/gkpj)

In [11]:
%%sql
WITH pallet_count(c_name, cnt) AS(
SELECT      c_name, count() as cnt
FROM        pallets
WHERE       blocked = 0
GROUP BY    c_name  
)
SELECT      cookies.c_name, coalesce(cnt, 0) as nbr
FROM        cookies 
LEFT JOIN   pallet_count on cookies.c_name = pallet_count.c_name

 * sqlite:///krusty-db.sqlite
Done.

[('Tango', 2), ('Almond delight', 0)]